@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik+Doodle+Shadow&display=swap');

.block {
	padding: 20px 28px;

	height: 240px;

	position: absolute;
	top: 424px;
}

.left-gradient {
	background: linear-gradient(45deg, #FCFEFC 84%, rgba(255, 255, 255, 0.5));
}

.right-gradient {
	background: linear-gradient(-45deg, #FCFEFC 84%, rgba(255, 255, 255, 0.5));
}

.st {
	position: absolute;
	right: 798px;
}

.nd {
	position: absolute;
	left: 794px;
}

.title {
	font-size: 32px;
	font-weight: 200;

	margin-bottom: 12px;
}

.block .text .types {
	text-align: right;
}